.photo-grid__list{
  padding: 0;
  margin: 0;
  max-width: 284px;
  max-height: 213px;
}

@media screen and (max-width: 1279px){
  .photo-grid__list{
    max-width: 100%;
    max-height: 100%;
    max-height: 225px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px){
  .photo-grid__list{
    max-height: 264px;
  }
}

@media screen and (max-width: 767px){
  .photo-grid__list{
    max-height: 216px;
  }
}
