.header__logo{
  background-image: url(../../../img/__logo.svg);
  background-size: contain;
  width: 176px;
  height: 52px;
}

@media screen and (max-width: 767px){
  .header__logo{
    max-width: 142px;
    max-height: 42px;
  }
}
