.footer__link{
  padding: 0;
  margin: 0;
  text-decoration: underline 0.08em rgba(255, 255, 255, 0);
  text-underline-offset: 5px;
  transition: 0.5s ease;
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  align-self: center;
}

@media screen and (max-width: 767px){
  .footer__link{
    font-size: 24px;
    line-height: 24px;
    max-width: 100%;
  }
}
