.footer__copyright{
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  padding: 0;
  margin: 0;
  align-self: center;
}

@media screen and (max-width: 767px){
  .footer__copyright{
    margin: 45px 0 0;
    align-self: flex-start;
  }
}
